.root {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    line-height: 40px;
  }
  
  .avatar {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-bottom: 10px;
  }



